body {
  background-color:#f4f4f4;
  height: 100%;
}

.main-grid {
  width: 100%;
  height: 100%
}

.ui.green.button {
  margin-top: 20px;
  height: 41px;
}

.ui.form .fields>.field {
  padding-right: 0;
}

h1 {
  color: #1678c2;
  margin-bottom: 45px;
}

.ui.button.login {
  background: #1678c2;
  color: #fff;
}

.ui.button.signup {
  background: #21ba45;
  color: #fff;
}

.ui.button.logout {
  background: #1b1c1d;
  color: white;
}

.ui.secondary.menu {
  margin-top: 23px;
  margin-left: 1%;
}

button.ui.button {
  margin-top: 4px;
}

.right.item,
.ui.menu:not(.vertical) .right.menu {
  margin-left: 50% !important;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #dddddd;
}

.removegoal {
  color: rgb(226, 221, 221);
}

.removegoal:hover {
  color: red;
}

.editgoal {
  color: rgb(226, 221, 221);
}

.editgoal:hover {
  color: #1678c2;
}

.savegoal {
  color: rgb(226, 221, 221);
}

.savegoal:hover {
  color: green;
}

.profile {
  background-color: #1b1c1d;
  width: 300px;
}

.photo {
  display: block;
  margin: auto;
  border-radius: 50%;
  width:165px;
  height: 165px;
}

.emoji {
  display: block;
  margin: auto;
  width:165px;
  height: 165px;
}

#side-menu {
  height: 100%;
  width: 300px;
  background-color: #1b1c1d;
  position: fixed;
  overflow-x: hidden;
  padding-top: 60px;
}

#side-menu a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

#side-menu a:hover {
  color: #fff;
}

#profile-name {
  text-align: center;
  color: #ccc;
}

.add-photo {
  padding: 0px 10px 10px 30px;
  color: white;
}

.seven.wide.column {
  position: relative;
}

.ui.container {
  margin-left: 3% !important;
}

#home-squat {
  display: block !important;
  width: 86% !important;
  height: auto !important;
  margin-left: 5%;
  opacity: .9;
}

.winning {
  color: white;
}

element.style {
  pointer-events: all;
  height: 69%;
}

.ui.card.trophy {
  padding-left: 25px;
  padding-top: 27px;
  margin-left: 41%;
}

img.ui.image.app-icon {
    height: 58px;
}

.right.item,
.ui.menu:not(.vertical) .right.menu {
  margin-left: 80% !important;
}