/* creat competitions form */
.ui.green.button {
  margin-top: 20px;
  height: 41px;
}

.ui.form .fields>.field {
  padding-right: 0;
}

.ui.grid {
  margin-right: 4%;
  margin-left: 4%;
  margin-top: 1%;
}

h1 {
  color: rgba(4, 110, 124, 0.473);
  margin-bottom: 45px;
}

.ui.button.ui.button.login {
  background: #1678c2;
  color: #fff;
}

.ui.button.ui.button.signup {
  background: #21ba45;
  color: #fff;
}

.ui.secondary.menu {
  margin-top: 23px;
  margin-left: 1%;
}

button.ui.button {
  margin-top: 4px;
}

.right.item,
.ui.menu:not(.vertical) .right.menu {
  margin-left: 50% !important;
}

table.ui.celled.structured.table {
  width: 108%;
  margin-left: -3%;
}

thead {
  color: dimgray;
}

button.ui.circular.icon.primary.button {
  position: relative;
  top: 81px;
  right: 11%;
}

.seven.wide.column {
  position: relative;
}

.ui.container {
  margin-left: 3% !important;
}

#home-squat {
  display: block !important;
  width: 86% !important;
  height: auto !important;
  margin-left: 5%;
  opacity: .9;
}

.winning {
  color: white;
}

element.style {
  pointer-events: all;
  height: 69%;
}

.ui.card.trophy {
  width: 43%;
  padding-left: 25px;
  padding-top: 27px;
  margin-left: 41%;
}

img.ui.image.app-icon {
    height: 58px;
}

.right.item,
.ui.menu:not(.vertical) .right.menu {
  margin-left: 80% !important;
}